In [5]:
x="The best thing in life are free"
print("free" in x)
print(len(x))
for i in x:
    print(i)

True
31
T
h
e

b
e
s
t

t
h
i
n
g

i
n

l
i
f
e

a
r
e

f
r
e
e

In [24]:
#Slicing
x=" The best, thing in life are free "
print(x[2:5])
print(x[2:])  # From index 2 to the end
print(x[:5])  # From the start to index 5

he
he best, thing in life are free
 The

In [27]:
print(x.upper())
print(x.lower())
y="    raksha"
print(y.strip())
print(x.replace("free", "expensive"))
print(x.split("e"))

 THE BEST, THING IN LIFE ARE FREE
 the best, thing in life are free
raksha
 The best, thing in life are expensive
[' Th', ' b', 'st, thing in lif', ' ar', ' fr', '', ' ']

In [28]:
age = 36
txt = f"My name is John, I am {age}"
print(f"My name is John, I am {age}")
print(txt)
age = 36
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

My name is John, I am 36
My name is John, I am 36
We are the so-called "Vikings" from the north.

In [19]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [2]:
word="orange juice"
shift=4
new_word = ""
print(ord("a"))
for i in word:
    if i==" ":
        new_word += " "
    else:
        new_word+= chr(ord(i) + shift)
print(new_word)

97
sverki nymgi

In [34]:
list = ["apple", "banana", "cherry"]
list.append("orange")
list.insert(1, "kiwi")
list.remove("banana")
list.sort()
list.reverse()
print(list)

['orange', 'kiwi', 'cherry', 'apple']

In [35]:
tropical = ("mango", "pineapple", "papaya")
list.append(tropical)
print(list)

['orange', 'kiwi', 'cherry', 'apple', ('mango', 'pineapple', 'papaya')]